/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

div.infobox {clear:both;overflow:hidden;display:block;position:relative;color:#333;}
div.infobox img {position:relative;margin:0;padding:0}
div.ipForm {padding:3% 5%; margin:1% 0%; border:5px solid /*#d4b46e*/ #a3bfbb;background:#fff;}
div.ipForm dl	{width:100%; padding:0;text-align:left;margin:1% 0; display:inline-block;}
div.ipForm dl dt {width:15%;display:inline-block;font-size:0.875em;letter-spacing:-0.063em;font-weight:normal;text-align:left;padding:3% 0 0 0;}
div.ipForm dl dd {width:75%;display:inline-block; margin: 0 0 0 3%; white-space:nowrap;}
div.ipForm dl dd label {width:90%;float:left;display:inline-block;}
div.ipForm dl dd ipForm {border:1px solid #ccc;width:30%;padding:5px 3px;}
div.ipForm dl dd .inputChk {width:0.750em;height:0.750em;color:#a0a0a0;padding:0;}
div.ipForm .bnr {width:100%;margin:0 auto;padding:0;}
div.ipForm .bnr button {width:100%;padding:3% 0;color:#fff;border:0;font-weight:bold;font-size:1.500em;letter-spacing:-0.063em;}
div.ipForm .btn2 {width:80%; display:block; margin:0 auto;}
div.ipForm .db_money {padding:2% 0; line-height:180%; text-align:center; background-color:#f3f3f3;}

table.db_q { margin-top:2%; border-bottom:2px dashed #eee; }
table.db_q td{ height:25px;}


.ipForm th{text-align:left; line-height:30px;}